body {
    display: flex;
    justify-content: center;
    background-color: #3F51B5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-app {
    position: relative;
    width: 400px;
    border-color: #BDBDBD;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

input {
    border-radius: 5px;
    border-width: 1px;
    font-weight: bold;
    text-indent: 5%;
    height: 20px;
    color: #757575;
}

button{
    border-radius: 5px;
    background-color: #448AFF;
    width: 50px;
    font-weight: bold;
    border-width: 1px;
    height: 20px;
    color: white;
}

ul{
    margin: 10px;
    padding: 10px;
}

ul li {
    gap: 100px;
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    border-style: solid;
    border-color: #BDBDBD;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
}

ul li span {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    padding: 0px;
    height: 15px;
    width: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #7faeff;
    cursor: pointer;
}

ul li span:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

