body {
    background-color:steelblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    padding: 20px;
    background-color: white;
}

input {
    border-radius: 5px;
    font-weight: bold;
    text-indent: 5%;
    border-width: 1px;
    height: 20px;
}

button{
    border-radius: 5px;
    background-color: #b9c8ef;
    width: 50px;
    font-weight: bold;
    border-width: 1px;
    height: 20px;
}