body {
    background-color:steelblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-app {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    padding: 20px;
    background-color: white;
    text-align: center;
}

input {
    border-radius: 5px;
    font-weight: bold;
    text-indent: 5%;
    border-width: 1px;
    height: 20px;
}

button{
    border-radius: 5px;
    background-color: #b9c8ef;
    width: 50px;
    font-weight: bold;
    border-width: 1px;
    height: 20px;
}

#list-items {
    justify-content: left;
    margin: 0;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 130px;
    margin: 0;
}

ul li span {
    text-align: center;
    width: 20px;
}

button:hover {
    background-color: #8aa6eb;
}

ul li span:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

